<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>CreditManagement - Home</title>
</head>

<body>
    <!-- Navbar -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" href="transactions">Transactions <span class="sr-only">(current)</span></a>
                </div>
            </div>
        </nav>
    </div>

    <div class="container pt-2">
        <!-- Alert message -->
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong></strong>{{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>

    <!-- Users -->
    <div class="container py-3">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User</th>
                    <th scope="col">Total Credits</th>
                </tr>
            </thead>

            <tbody>
                {% for uinfo in userinfo %}
                <tr>
                    <th scope="row">{{ uinfo.uid }}</th>
                    <td>
                        <form action="view_user" method="post">{% csrf_token %}
                            <input type="text" name="name" hidden value="{{uinfo.name}}">
                            <button type="submit" class="btn bg-white" name="button">{{uinfo.name}}</button>
                        </form>
                    </td>
                    <td>{{ uinfo.credit }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container text-center ">
        <a href="https://github.com/charan-kumar-137/CreditManagement" target="_blank">Source Code</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
